.new-pokemon-header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.new-pokemon-input-container {
  margin-bottom: 10px;
}

.new-pokemon-input {
  background-color: #fff;
}

.new-pokemon-page {
  background-color: #f6f6f6;
  height: 100vh;
}

.new-pokemon-go-back-button {
  background-color: #F45B69;
  color: #fff;
}

